RewriteEngine On
RewriteBase /

RewriteRule ^robots\.txt$ robots.txt.php [L]
RewriteRule ^sitemap\.xml$ sitemap.php [L]

RewriteRule ^(.+\.php)/.*$ error.php?code=404 [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . error.php?code=404 [R=302,L]

ErrorDocument 500 error.php?code=500
