<!doctype html>

<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <title>Area riservata</title>
    </head>
    <body>
        <h1>Area riservata</h1>

        <!--impostazioni accessibilità-->
        <label for="mensa">Scegli la tua mensa preferita:</label>
        <select id="mensa" name="mensa">
            <option value="mensa1">Mensa 1</option>
            <option value="mensa2">Mensa 2</option>
            <option value="mensa3">Mensa 3</option>
            <option value="mensa4">Mensa 4</option>
        </select>
    </body>
</html>
