<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="styles/main.css" />
        <title>Errore | ESU Advisor</title>
    </head>
    <body>
        <template id="header-template"></template>

        <main class="page-content">
            <div class="error-container">
                <div class="card card-expanded">
                    <div class="form-header">
                        <h1>Oops!</h1>
                    </div>

                    <div class="card-body">
                        <template id="error-message-template"></template>
                        <p>
                            Si è verificato un errore durante l'elaborazione della tua richiesta. Per favore, riprova
                            più tardi o contatta il supporto se il problema persiste.
                        </p>
                        <a href="index.php" class="nav-button primary">Torna alla Home</a>
                    </div>
                </div>
            </div>
        </main>

        <template id="footer-template"></template>
    </body>
</html>
