<footer class="bottom-nav">
    <nav class="nav" id="menu" aria-label="Menu di navigazione principale">
        <ul>
            <li class="nav-item"><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
            <li class="nav-item">
                <a href="index.php">
                    <span lang="en">
                        <span class="icon-container" aria-hidden="true">
                            <template id="home-icon-template"></template>
                        </span>
                        Home
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="review.php">
                    <span lang="en">
                        <span class="icon-container" aria-hidden="true">
                            <template id="review-icon-template"></template>
                        </span>
                        Review
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="profile.php">
                    <span>
                        <span class="icon-container" aria-hidden="true">
                            <template id="profile-icon-template"></template>
                        </span>
                        Profilo
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="settings.php">
                    <span>
                        <span class="icon-container" aria-hidden="true">
                            <template id="settings-icon-template"></template>
                        </span>
                        Impostazioni 
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</footer>
