<footer class="bottom-nav">
    <nav class="nav">
        <ul>
            <li class="nav-item active">
                <!--<a href="index.php">-->
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            width="24"
                            height="24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m0 12 11.254-11c.44-.439 1.152-.439 1.591 0L24 12M0.75 12v10.1c0 .621.504 1.125 1.125 1.125H8v-10c0-.621.504-1.125 1.125-1.125h5.75c.621 0 1.125.504 1.125 1.125V23.25h6.125c.621 0 1.125-.504 1.125-1.125V12M8.25 21M8.25"
                            />
                        </svg>
                        Home
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="fyp.php">
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            width="24"
                            height="24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 0.75 l3.476 7.0425 L23.25 8.929 l-5.625 5.4785 L18.9525 23.25 12 19.054 5.0475 23.25 6.375 14.4075 0.75 8.929 l7.774-1.1365 L12 0.75z"
                            />
                        </svg>
                        Review
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="profile.php">
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            stroke-width="32"
                            width="24"
                            height="24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                fill="none"
                                d="M0 240C0 107.452 107.452 0 240 0C372.548 0 480 107.452 480 240C480 372.548 372.548 480 240 480C107.452 480 0 372.548 0 240Z"
                                transform="translate(16 16)"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round" 
                                d="M0 62.5C0 27.9822 27.9822 0 62.5 0C97.0178 0 125 27.9822 125 62.5C125 97.0178 97.0178 125 62.5 125C27.9822 125 0 97.0178 0 62.5Z"
                                transform="translate(194 82)" 
                            />
                            <path 
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M0 118.001C0 118.001 76.4526 0 209.003 0C341.554 0 418.002 118.001 418.002 118.001C418.002 118.001 358.004 239.998 209.002 240.001C60.0011 240.005 0 118.001 0 118.001Z"
                                transform="translate(47 256)"
                                
                            />
                        </svg>
                        Profile
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</footer>
