<!--<header>
    <nav>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li>
                <a href="index.php">
                    <img src="images/logo.svg" alt="ESUADVISOR (logo)" />
                </a>
            </li>
            <li><img class="logo" src="images/logo.svg" alt="ESUADVISOR (logo)" /></li>
            <li><a href="login.php">Login</a></li>
            <li><a href="register.php">Register</a></li>
            <li><a href="logout.php">Logout</a></li>
        </ul>
    </nav>
</header>
-->
<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <a href="index.php">
                <img
                    src="images/logo.svg"
                    alt="ESUADVISOR (logo)"
                    class="logo"
                />
            </a>
        </div>
        <nav class="nav-buttons">
            <template id="session-buttons-template"></template>
        </nav>
    </div>
</header>
