<header class="header" role="banner">
    <nav aria-label="Aiuti alla navigazione">
        <ul>
            <li><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
            <li><a href="#menu" class="navigationHelp">Vai alla navigazione</a></li>
        </ul>
    </nav>
    <div class="header-container">
        <div class="logo-container">
            <a href="index.php">
                <img src="images/logo.svg" alt="Logo ESU Advisor" class="logo" width="150" height="40" />
            </a>
        </div>
        <nav class="nav-buttons" aria-label="Azioni utente">
            <template id="session-buttons-template"></template>
        </nav>
    </div>
    <div class="breadcrumb-container">
        <nav class="breadcrumb" aria-label="Percorso di navigazione">
            <template id="breadcrumb-template"></template>
        </nav>
    </div>
</header>
