<header class="header">
    <nav aria-label="Aiuti alla navigazione">
        <ul>
            <li><a href="#menu" class="navigationHelp">Vai alla navigazione</a></li>
            <li><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
        </ul>
    </nav>
    <div class="header-container">
        <div class="logo-breadcrumb-container">
            
            <h1 class="logo">ESU Advisor</h1>
            <!--
            <a href="index.php" class="logo-link">
                <img src="images/logo.svg" alt="Logo ESU Advisor" class="logo logo-desktop" />
                <img src="images/fork.svg" alt="Logo ESU Advisor" class="logo logo-mobile" />
            </a>
            -->
            <nav class="breadcrumb-integrated" aria-label="Percorso di navigazione">
                <template id="breadcrumb-template"></template>
            </nav>
        </div>
        <nav class="nav-buttons" aria-label="Azioni utente">
            <template id="session-buttons-template"></template>
        </nav>
    </div>
</header>
