<!doctype html>

<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <title>ESUADVISOR</title>
        <script src="scripts/menu_select.js" defer></script>
    </head>
    <body>
        <template id="header-template"></template>
        <main>
            <!-- <h1>ESUADVISOR</h1> -->

            <!--<img class="logo" src="images/logo.svg" alt="ESUADVISOR (logo)" /> spostata nell'header -->

            <template id="welcome-template"></template>
<!--
            <section class="search-section">
                <form action="search.php" method="GET" class="search-form">
                    <input
                        type="text"
                        name="query"
                        placeholder="Cerca Menù, Mense o Piatti..."
                        required
                    />
                    <button type="submit">Cerca</button>
                </form>
            </section>
-->
            <section class="mense-section">
                <select id="mense-select">
                    <template id="mense-template"></template>
                </select>
            </section>
            <!--
            <section class="mense-section">
                <h2>Mense</h2>
                <ul>
                    <template id="mense-template"></template>
                </ul>
            </section>
-->

            <section class="menu-section">
                <h2>Menu del giorno</h2>
                <ul>
                    <template id="menu-template"></template>
                </ul>
            </section>

            <section class="piatti-section">
                <h2>Piatti</h2>
                <dl>
                    <template id="piatti-template"></template>  <!--ogni piatto è un dt con dd e due immagini (stelle e img)-->
                </dl>
            </section>

            <section class="dish-of-the-day">
                <h2>Piatto del giorno</h2>
                <template id="dish-of-the-day-template"></template>
            </section>

            <section class="mense-info-section">
                <h2>Informazioni sulle mense</h2>
                <ul>
                    <template id="mense-info-template"></template>
                </ul>
        </main>
        <template id="footer-template"></template>
    </body>
</html>
