<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="styles/main.css" />
        <title>Profilo - ESUAdvisor</title>
    </head>
    <body>
        <template id="header-template"></template>

        <main class="form-container">
            <div class="profile-header">
                <div class="header-container">
                    <h1>Profilo</h1>
                </div>

                <div class="card-body">
                    <section class="mb-4 pb-4 border-b border-color">
                        <h2 class="text-lg font-semibold mb-3">
                            <template id="profile-username-template"></template>
                        </h2>
                    </section>

                    <section>
                        <h2 class="text-lg font-semibold mb-3">Le tue Recensioni</h2>
                        <ul>
                            <template id="profile-recensioni-template"></template>
                        </ul>
                    </section>
                </div>
            </div>
        </main>

        <template id="footer-template"></template>
    </body>
</html>
