<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="styles/main.css" />
        <title>Impostazioni - ESUAdvisor</title>
    </head>
    <body>
        <template id="header-template"></template>

        <main class="form-container">
            <div class="card card-expanded">
                <div class="form-header">
                    <h1>Impostazioni</h1>
                </div>

                <template id="server-response-template"></template>

                <div class="card-body">
                    <form action="settings.php" method="post" class="base-form">
                        <section class="mb-4 pb-4 border-b border-color">
                            <h2 class="text-lg font-semibold mb-3">
                                Accessibilità
                            </h2>

                            <div class="flex items-center gap-3">
                                <label for="theme-switch">Modifica tema:</label>
                                <span class="text-secondary">Tema Chiaro</span>
                                <label class="theme-switch">
                                    <template id="dark-mode-option-template"></template>
                                    <span class="slider"></span>
                                </label>
                                <span class="text-secondary">Tema Scuro</span>
                            </div>

                            <div class="form-group">
                                <label for="dimensioni-testo-select"></label>
                                    Dimensioni testo:
                                </label>
                                <select class="form-select" id="dimensioni-testo-select" name="dimensione_testo">
                                    <template id="dimensione-testo-options-template"></template>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="dimensioni-icone-select">
                                    Dimensioni icone:
                                </label>
                                <select class="form-select" id="dimensioni-icone-select" name="dimensione_icone">
                                    <template id="dimensione-icone-options-template"></template>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="font-select">Modifica font:</label>
                                <select class="form-select" id="font-select" name="font">
                                    <template id="font-options-template"></template>
                                </select>
                            </div>
                        </section>

                        <button type="submit" name="preferences" class="form-button">Salva</button>
                    </form>



                        <section class="mb-4 pb-4 border-b border-color">
                            <h2 class="text-lg font-semibold mb-3">
                                Informazioni account
                            </h2>
                            <form action="settings.php" id="change_username_form" method="post" class="base-form">

                                <div class="form-group">
                                    <label for="username">Modifica username</label>
                                    <input type="username" id="new_username" name="new_username" class="form-input"
                                    style="
                                        background-image: url(&quot;data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%236B7280%22 stroke-width=%222%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22><path d=%22M19 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z%22/><path d=%22m3 7 9 6 9-6%22/></svg>&quot;);
                                        background-position: 12px center;
                                        background-repeat: no-repeat;
                                    ">
                                    <button type="submit" class="form-button" name="change_username">Salva</button>
                                </div>
                            </form>


                            <form action="settings.php" id="change_password_form" method="post" class="base-form">

                                <div class="form-group">
                                    <label for="old_password">Password Attuale</label>
                                    <input type="password" id="password" name="password" class="form-input"
                                        style="
                                            background-image: url(&quot;data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%236B7280%22 stroke-width=%222%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22><rect x=%223%22 y=%2211%22 width=%2218%22 height=%2211%22 rx=%222%22 ry=%222%22></rect><path d=%22M7 11V7a5 5 0 0 1 10 0v4%22></path></svg>&quot;);
                                            background-position: 12px center;
                                            background-repeat: no-repeat;
                                        ">

                                    <label for="password">Modifica password</label>
                                    <input type="password" id="new_password" name="new_password" class="form-input"
                                    style="
                                        background-image: url(&quot;data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%236B7280%22 stroke-width=%222%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22><rect x=%223%22 y=%2211%22 width=%2218%22 height=%2211%22 rx=%222%22 ry=%222%22></rect><path d=%22M7 11V7a5 5 0 0 1 10 0v4%22></path></svg>&quot;);
                                        background-position: 12px center;
                                        background-repeat: no-repeat;
                                    ">

                                    <label for="confirm_password">Conferma password</label>
                                    <input type="password" id="new_password_confirm" name="new_password_confirm" class="form-input"
                                    style="
                                        background-image: url(&quot;data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%236B7280%22 stroke-width=%222%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22><rect x=%223%22 y=%2211%22 width=%2218%22 height=%2211%22 rx=%222%22 ry=%222%22></rect><path d=%22M7 11V7a5 5 0 0 1 10 0v4%22></path></svg>&quot;);
                                        background-position: 12px center;
                                        background-repeat: no-repeat;
                                        ">

                                    <button type="submit" class="form-button" name="change_password">Salva</button>
                                </div>
                            </form>
                        </section>
                    </form>
                    <section>
                        <div class="form-group">
                            <label for="delete-account">Cancella l'account</label>
                            <button type="submit" id="delete-account-button" class="danger form-button">Elimina Account</button>

                            <div class="modal" id="myModal">
                                <div class="modal-content card card-expanded mb-4">
                                    <div class="card-content">
                                        <h2 class="card-title">Conferma l'eliminazione dell'account</h2>
                                        <button class="close-button" id="close-modal">&times;</button>
                                        <p>Sei sicuro di volere cancellare il tuo account? Questa azione è irreversibile.</p>
                                        <form id="delete-account-form" method="POST" action="settings.php">
                                            <span class="center">
                                                <button type="submit" name="delete_account" class="confirmation-button">YES</button>
                                                <button class="cancel-button">NO</button>
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

            <button type="submit" class="back-to-top" id="back-to-top" title="Torna su">Torna su &uarr;</button>
        </main>

        <template id="footer-template"></template>

        <script src="scripts/user-settings.js"></script>
        <script src="scripts/theme-switcher.js"></script>
        <script src="scripts/change_password_validation.js"></script>
        <script src="scripts/change_username_validation.js"></script>
        <script src="scripts/back-to-top.js"></script>
    </body>
</html>
