/* base/reset.css - Reset CSS di base per normalizzare gli stili tra browser */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family); /* Use the variable here */

    background-color: var(--background);
    color: var(--text-primary);
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

/* img,
picture,
svg {
    max-width: 100%;
    display: block;
} */

img {
    height: auto;
    max-height: 300px;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: all var(--transition);
}

a:hover {
    color: var(--primary-hover);
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
